<p>
    <a href="{% url 'blogs:index' %}">Blogs</a> -
    <a href="{% url 'blogs:new_post' %}">Add a post</a> -
    {% if user.is_authenticated %}
        Hello, {{ user.username }}.
        <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
        <a href="{% url 'users:register' %}">Register</a> -
        <a href="{% url 'users:login' %}">Log in</a>
    {% endif %}
</p>
{% block content %}{% endblock content %}