{% extends "blogs/base.html" %}

{% block content %}
    <p>Add a post:</p>
    
    <form action="{% url 'blogs:new_post' %}" method='post'>
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">Add post</button>
    </form>

{% endblock content %}