{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}
{% block page_header %}
    <h2><a class="btn btn-lg btn-primary" href="{% url 'learning_logs:topic' topic.id %}"
            role="button">{{ topic }}</a>
</h2>
{% endblock page_header %}

{% block content %}
    <form method="post" action="{% url 'learning_logs:edit_entry' entry.id %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button name="submit" class="btn btn-primary">Save changes</button>
    {% endbuttons %}
    </form>
{% endblock content %}