{% extends "blogs/base.html" %}

{% block content %}
    
    <ul>
        {% for post in posts %}
            <p>{{ post|linebreaks }}</p>
            <p>
                <a href="{% url 'blogs:edit_post' post.id %}">Edit post</a>
            </p>
        {% empty %}
            <p>No posts added yet</p>
        {% endfor %}
    </ul>
    
{% endblock content %}