{% extends "blogs/base.html" %}
{% load bootstrap4 %}

{% block content %}
    <form method="post" action="{% url 'blogs:edit_post' post.id %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button name="submit" class="btn btn-primary">Save changes</button>
    {% endbuttons %}
    </form>
{% endblock content %}