{% extends "blogs/base.html" %}
{% load bootstrap4 %}

{% block content %}
    
    <ul>
        {% for post in posts %}
            <p>{{ post|linebreaks }}</p>
            <p>
                {% if post.owner == user %}
                    <a href="{% url 'blogs:edit_post' post.id %}">Edit post</a>
                {% endif %}
            </p>
        {% empty %}
            <p>No posts added yet</p>
        {% endfor %}
    </ul>
    
{% endblock content %}