{% extends "blogs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Add a new topic:</h2>
{% endblock page_header %}

{% block content %}
    <form method="post" action="{% url 'blogs:new_post' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button name="submit" class="btn btn-primary">Add post</button>
    {% endbuttons %}
    </form>
{% endblock content %}