{% extends 'pizzas/base.html' %}

{% block content %}

<p>Pizza: {{ pizza }}</p>

<p>Toppings:</p>
<ul>
    {% for topping in toppings %}
        <li>
            <p>{{ topping.name|linebreaks }}</p>
        </li>
    {% empty %}
        <li>There are no toppings for this pizza yet.</li>
    {% endfor %}
</ul>

{% endblock content %}